/* defining the colors  */
:root {
  --bg-clr: #ede7f6;
  --shade-clr: #b6b8c3;
  --toolbar-clr: #EDE7F2;
  --text-color: #ffc4ff;
  --text-shadow: #9c64a6;
  --toolbar-shade-clr: #bbb5c3;
}


body {
  background-color: var(--bg-clr);
  width: auto;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: stretch;
}

/* class for the container */
.container {
  width: 100% !important;
  height: 100vh !important;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;
  padding: 3rem 0rem 3rem 0rem;
}


/* class for the toolbar  */
.toolbar {
  background-color: var(--toolbar-clr);
  height: 12% !important;
  width: 60%;
  border-radius: 14px;
  box-shadow: 3px 3px 3px 2px var(--toolbar-shade-clr);
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  align-items: center;
}


/* class icon  */
.icon {
  margin: 1rem;
  box-shadow: 3px 3px 3px 2px var(--toolbar-shade-clr);
  border-radius: 11px;
  height: auto;
  width: auto;
}



/* class for the home page */
.home-page{
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items:center;
  height: 100%;
  width: 100%;

}

.home-card{
  background-color:var(--toolbar-clr);
  box-shadow: 3px 3px 3px 2px var(--toolbar-shade-clr);
  margin-top: 5%;
  border-radius:14px;
  margin: 1rem;
  border-radius:14px;
  width: 50%;
  height: 80%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items:center;
  text-align: center;
}


.home-img{
  width: 50%;
  height: 80%;
  margin: 1rem;
  
}


.boy{
  width:max-content;
  height: 100%; 
}

.hometext{
  font-family: ui-sans-serif;
  text-shadow: 4px 1px 1px var(--text-shadow);
  margin: 1rem;
  color: var(--text-color);
}