/* defining the colors  */
:root {
  /* background-color */
  --bg-clr: #ede7f6;
  --shade-clr: #b6b8c3;
  /* toolbar color  */
  --toolbar-clr: #ede7f2;
  --toolbar-shade-clr: #bbb5c3;
  /* text color  */
  --text-color: #78909c;
  --text-shadow: #a7c0cd;
}

body {
  background-color: var(--bg-clr);
  width: auto;
  height: 90%;
  overflow: auto;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: stretch;
}

/* class for the container */
.container {
  width: 100% !important;
  height: 100vh !important;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem 0rem 1rem 0rem;
}

/* class for the toolbar  */
.toolbar {
  background-color: var(--toolbar-clr);
  height: 10% !important;
  width: 60%;
  border-radius: 14px;
  box-shadow: 3px 3px 3px 2px var(--toolbar-shade-clr);
  position: fixed;
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  align-items: center;
}

/* class icon  */
.icon {
  margin: 1rem;
  box-shadow: 3px 3px 3px 2px var(--toolbar-shade-clr);
  border-radius: 11px;
  height: auto;
  width: auto;
}

/* class for the home page */
.home-page {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.home-card {
  background-color: var(--toolbar-clr);
  box-shadow: 3px 3px 3px 2px var(--toolbar-shade-clr);
  border-radius: 14px;
  width: 50%;
  height: 20%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.home-img {
  width: 27%;
  height: 90%;
  margin: 1rem;
}

.boy {
  width: max-content;
  height: 70%;
  padding: 5rem 0rem;
}

.hometext {
  font-family: ui-sans-serif;
  text-shadow: 3px 2px 3px var(--text-shadow);
  margin: 1rem;
  color: var(--text-color);
}

.personal-page {
  background-color: var(--toolbar-clr);
  box-shadow: 3px 3px 3px 2px var(--toolbar-shade-clr);
  border-radius: 14px;
  width: 90%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: start;
  align-items: stretch;
  text-align: start;
  padding: 3rem 0rem;
  margin: 1rem;
}

/* .block-1 {
  display: flex;
  flex: 1 1 100%;
  width: 100%;
  height: 50%;
}

.block-2 {
  display: flex;
  flex: 1 1 100%;
  width: 100%;
  height: 50%;
} */

.row1 {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: stretch;
}

.personal-image {
  width: 40%;
  height: 70%;

}

.personal-info {
  width: 50%;
  height: 100%;
  /* background-color:#78909c; */
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: stretch;
  text-align: justify;
  font-size: 24px;
  font-family: ui-sans-serif;
  text-shadow: 3px 2px 3px var(--text-shadow);
  margin: 1rem;
  color: var(--text-color);
}

.sys-img {
  width: auto;
  height: auto;
}

a {
  text-decoration: none;
}

.workhistory-page {
  background-color: var(--toolbar-clr);
  box-shadow: 3px 3px 3px 2px var(--toolbar-shade-clr);
  border-radius: 14px;
  width: 90%;
  height: 70%;
  display: flex;
  flex-flow: column;
  justify-content: start;
  align-items: stretch;
  text-align: start;
  padding: 1rem 0rem;
  margin: 1rem;
}


.workhis-title {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}


.workhis-container {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
}


.box {
  height: auto;
  width: auto;
  background-color: var(--toolbar-clr);
  box-shadow: 2px 2px 1px 1px var(--toolbar-shade-clr);
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 1%;
  /* margin: 1%; */
  border-radius: 14px;
  text-align: center;
  text-overflow: clip;

}